aside {
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  height: 100%;
}

h1 {
  font-size: 1.5rem;
}

.mainLogo {
  padding-top: 0.5rem;
}
.pageNav {
  display: flex;
}

.pageNavContainer {
  display: flex;
  flex-direction: column;
  padding-top: 0.7rem;
  gap: 1rem;
}

.pageNavContainer p {
  color: var(--text);
}
.tagline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tagsColumn {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1.5rem;
}

.tagsTitle {
  color: var(--text);
  font-size: 0.7rem;
  font-weight: 900;
}

.tag {
  color: var(--text);
  font-weight: 700;
}

